html{
  font-family: 'Francois One', sans-serif, 'Work Sans', sans-serif;
  font-weight: 400;


}
.nav-wrapper{
padding-left: 3rem;

};


.title-banner{

  font-family: 'Francois One', sans-serif;
  font-weight: 400;

};

#shopbanner{
width: 100vw;
border: 1px solid white;
height: 600px;

};
.xpand{

  height: 400px;
}
.signup{
  margin-top: 2rem;

  padding: 3rem;
}
